<div class="container">
    <div class="row">
        <div class="col-12 py-4">
            <form class="d-flex" role="search" (submit)="onSubmit($event)">
                <input class="form-control me-2" type="search" id="buscador" placeholder="ejem: bulbasaur" aria-label="Search" (input)="onSearchChange($event)">
            </form>
            <div class="list-group mt-2" *ngIf="this.searchResults.length > 0 else busqueda">
                <a class="list-group-item list-group-item-action" *ngFor="let result of searchResults" [routerLink]="['/poki', this.findId(result.url)]">{{ result.name }}</a>
            </div>
        </div>
    </div>
</div>

<ng-template #busqueda>
    <div class="list-group mt-2">
        <a class="list-group-item list-group-item-action" [routerLink]="['/poki', this.findId(pokerandom.url)]" (click)="Randomizer()">pokemon random - {{ pokerandom.name }}</a>
    </div>
</ng-template>