<app-navbar></app-navbar>
<div class="container pt-4">
    <div *ngIf=" false else paginacion"></div>
    <div class="row">
        <div class="col-sm-12 col-md-4 py-2" *ngFor="let poki of pokiData.results; let i = index">
            <app-poki-card [pokiData]="poki" [pokiId]="i + 1 + offset" [shy]="shy"></app-poki-card>
        </div>
    </div>
    <div *ngIf=" false else paginacion"></div>
    <a class="float shy" *ngIf="shy == 0" [routerLink]="[ '/home', multi, 1 ]"></a>
    <a class="float not-shy" *ngIf="shy == 1" [routerLink]="[ '/home', multi, 0 ]"></a>
</div>

<ng-template #paginacion>
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-lg justify-content-center">
            <li class="page-item" *ngIf="multi > 2">
                <a class="page-link" [routerLink]="[ '/home', 1, shy ]">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item disabled" *ngIf="multi > 3">
                <a class="page-link">..</a>
            </li>
            <li class="page-item" *ngIf="multi >= 2">
                <a class="page-link" [routerLink]="[ '/home', next - 2, shy ]">{{ next - 2 }}</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link">{{ multi }}</a>
            </li>
            <li class="page-item" *ngIf="multi < 27">
                <a class="page-link" [routerLink]="[ '/home', next, shy ]">{{ next }}</a>
            </li>
            <li class="page-item" *ngIf="multi < 25">
                <a class="page-link disabled">...</a>
            </li>
            <li class="page-item" *ngIf="multi < 26">
                <a class="page-link" [routerLink]="[ '/home', 27, shy ]">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>

        </ul>
    </nav>
</ng-template>
